<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }} | {{ site.title }}</title>
  <link rel="stylesheet" href="/src/style.css" />
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/github-dark.min.css">
</head>
<body class="blog-page">
  <div id="mainContent">
    {{ content }}
  </div>

  <script src="/src/script.js"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script>
    
  </script>
  <script>
    AOS.init({ duration: 800, once: false });
    
  const isIndex = window.location.pathname === "/" || window.location.pathname === "/index.html";

  if (!isIndex) {
    const main = document.getElementById("mainContent");
    if (main) {
      main.style.display = "block";
    }
  }
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
<script>hljs.highlightAll();</script>

</body>
</html>
